source_url "https://raw.githubusercontent.com/cachix/devenv/82b94f15dfba3026c439e44e0e751a0d3baf3f53/direnvrc" "sha256-7gphZIDDp5GwQO0Do9JG3wzZ0a4PoXJ1WUm0EuVF5gI="

watch_file devenv.nix devenv.yaml devenv.lock
eval "$(devenv direnvrc)"

use devenv
